<main class='text-center anime-container'>
  <div class='anime-card mb-5'>
    <% if @user.id == current_user.id %>
      <h1>Your Show Page</h1>
    <% else %>
      <h1><%= @user.name %>'s Show Page</h1>
    <% end %>
    <% if !@user.animes.empty? %>
      <% @user.animes.each do |anime| %>
        <div class='card mb-2'>
          <a href='/animes/<%= @user.slug %>/<%= anime.slug %>'><img class="card-img-top" src="<%= anime.image_url %>"></a>
          <div class="card-body">
            <h2 class="card-title"><%= anime.name %></a></h2>
            <p class="card-text">Review: <%= anime.user_content %></p>
            <p class="card-text">Current Episode: <%= anime.user_current_ep %>/<%= anime.episodes %></p>
            <p class="card-text">Rating: <%= anime.user_rating %>/5</p>
            <a href="/animes/<%= anime.user.slug %>/<%= anime.slug %>" class="btn btn-outline-info">More Info</a>
            <% if anime.user.id == current_user.id %>
              <form class='mt-2' method="POST" action='/animes/<%= anime.user.slug %>/<%= anime.slug %>/delete'>
                <input type="hidden" name="_method" value='DELETE'>
                <a class="btn btn-outline-success" href="/animes/<%= anime.user.slug %>/<%= anime.slug %>/edit">Update</a>  
                <input class="btn btn-outline-danger" type="submit" value="Delete">
              </form>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h3>You don't have any animes added to your list yet, Please add some!</h3>
    <% end %>
  </div>
</main>
