<main class='text-center anime-container'>
  <% if flash.has?(:message) %>
    <div class="alert alert-danger anime-alert mb-2">
      <%= flash[:message] %>
    </div>
  <% end %>

  <div class='anime-form mb-5'>
    <h1><%= @anime.name %></h1>
    <h3>Please update your info!</h3>
    <form action='/animes/<%= @anime.user.slug %>/<%= @anime.slug %>/edit' method="POST">
      <input type='hidden' name='_method' value='PATCH'>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a review here" name='user_content' id="user_content" style="height: 100px"><%= @anime.user_content %></textarea>
        <label for="user_content">Your Review</label>
      </div>
      <select class="form-select mt-2" aria-label="Default select example" id="user_eposode" name="user_episode">
        <option selected hidden>Change Your Episode</option>
        <% episodes = @anime.episodes %>
        <% episode = 0 %>
          <% while episodes > 0 %>
            <% episode += 1 %>
            <option><%= episode %></option>
            <% episodes -= 1 %>
          <% end %>
      </select>
      <select class="form-select mt-2" aria-label="Default select example" id="user_rating" name="user_rating">
        <option selected hidden>Update Your Rating</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select><br>
      <input class='w-100 btn btn-lg btn-outline-secondary mt-2' type='submit' value='Update Anime'>
    </form>
  </div>
</main>