<br>
<br>
<br>

<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <h1><a href="users/<%= user.slug %>"><%= user.name %>'s</a> Anime list</h1>
  <% else %>
    <h1>Your Anime list</h1>
  <% end %>
  <% if !user.animes.empty? %>
    <% user.animes.each do |anime| %>
      <h2><a href='/animes/<%= user.slug %>/<%= anime.slug %>'><%= anime.name %></a></h2>
      <a href='/animes/<%= user.slug %>/<%= anime.slug %>'><img src="<%= anime.image_url %>"></a><br>
      <p>Review: <%= anime.user_content %></p>
      <p>Rating: <%= anime.user_rating %>/5</p>
      <p>Current Episode: <%= anime.user_current_ep %>/<%= anime.episodes %></p>
    <% end %>
  <% else %>
    <h3>Has no animes added yet to list!</h3>
  <% end %>
<% end %>