<br>
<br>
<br>

<h1><%= @anime.name %></h1>
<img src="<%= @anime.image_url %>"><br>
<a target="_blank" href='<%= @anime.url %>'>More info</a>
<p><%= @anime.synopsis %></p>
<p>Review: <%= @anime.user_content %></p>
<p>Current Episode: <%= @anime.user_current_ep %>/<%= @anime.episodes %></p>
<p>Rating: <%= @anime.user_rating %>/5</p>
<p>Created on: <%= @anime.created_at.strftime("%m/%d/%Y") %></p>

<a href='/animes'>Home</a>
<a href='/users/<%= @anime.user.slug %>'>Back</a>

<% if @user.id == current_user.id %>
  <a href="/animes/<%= @user.slug %>/<%= @anime.slug %>/edit">Update</a>
  <form method="POST" action='/animes/<%= @user.slug %>/<%= @anime.slug %>/delete'>
    <input type="hidden" name="_method" value='DELETE'>
    <input type="submit" value="Delete">  
  </form>
<% end %>